@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: "Josefin Sans", serif;
    font-size: 16px;
    color: #9d9ea5;
}
.site-hero{
    position: relative;
    height: 100vh;
    background-image: url(hero-background.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}
.row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-10{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto !important;
    margin-right: auto !important;
    flex: 0 0 83.333333%;
        max-width: 83.333333%;
}
.site-content{
    text-align: center !important;
}
.site-content h6{
    font-size: 15px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    /* font-weight: 600; */
    color: #00113e;
    margin-bottom: .5rem;
    line-height: 1.2;
    margin-top: 0;
}
.site-content h1{
    margin-bottom: 75px;
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #00113e;
    line-height: 1.2;
    margin-top: 0;
}
.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.works {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: row; */
    gap: 60px;
}

.see {
    background: #add6d2;
    color: #fff !important;
    padding: 20px 45px;
    font-weight: 600;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
    border: 0;

}


.connect {
    background-color: #EAA4A4;
    color: #fff !important;
    font-size: 1rem;
    font-weight: 600;
    padding: 20px 45px;
    border: 0;
    border-radius: 0;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    /* border-radius: 0; */
    cursor: pointer;
}
.arrow img{
    margin-top: 50px;
}
@media screen and (max-width :1200px) {
    
    }
    
@media screen and (max-width :992px) {
    .container{
        max-width: 960px;
    }
   
    .site-content h1{
        font-size: 30px;
    }
    .site-content h1{
        font-size: 30px;
    }
} 
@media screen and (max-width :768px) {
    
    .site-content h1{
        margin-bottom: 50px;
        font-size: 30px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        color: #00113e;
        line-height: 1.2;
        margin-top: 0;
    }
    
}
@media screen and (max-width :600px){

}
@media screen and (max-width :575px) {
    .two{
        display: flex;
        flex-direction: column;
        gap: 0;

    }
    .works{
        display: flex
;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    }
    .see{

    }
}
@media screen and (max-width :425px){
.site-content h6{
    text-align: center;
    font-size: 10px;
}
.col-10{
    margin-top: 20px;
}
.site-content h1{
    font-size: 20px;
}
}
